body,
div,
ul,
li,
em,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


#main {
  margin-top: 54.5px;
} 

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #76323F;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #565656;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #565656;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #565656;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding-top: 60px;
  /*padding: 10px 5%;*/

}

em {
  font-size: 14px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #C09F80;
  line-height: 16px;
}

.location-text {
  font-weight: bold;
  font-size: 14px;
  color: #C09F80;
  line-height: 16px;
}

.url-text {
  font-size: 12px;
  margin-top: 0px;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #76323F;
  display: none;
}

.orange {
  background-color: #D7CEC7;
}

.orange-text {
  color: #76323F;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #D7CEC7;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #C09F80;
}

/* TODO: Replace with image later */
#header {
  background-color: #C09F80;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul,li {
  display: inline;
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.projectimage {
  padding: 10px;
  width: 500px;
  display: flex;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (max-width:400px) {
  .biopic {
    width: 100px;
  }

  .projectimage {
    width: 250px;
  }

  nav ul li {
    display: none;
    text-align: center;
    float: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* I'm building a navigation bar for the first time!! */

nav {
  background-color: #333;
  position: fixed;          /* To fix the navigation bar on top */
  top: 0;
  width: 100%;
  /* height: 54.5px;*/           /* To adjust the bar to the <a> and <li> boxes */
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

nav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
    background-color: #484848;
}

nav li:hover {
    background-color: #484848;
}

